.modal-box {
  position:absolute;
  top:250px; left:150px;
  font-family: "Noto Sans KR", sans-serif;
}
.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;  /* 모달이 페이지 요소들 위에 보이게 설정 */
  width:100%;

  /* 모달 뒤에 있는 요소를 클릭할 수 있게 설정 */
  pointer-events: none;
}

.modal-content {
  border-radius: 10px;
  max-width: 500px;
  max-height: 40vh; /* 모달의 최대 높이를 고정 */
  overflow: auto; /* 콘텐츠가 넘칠 경우 스크롤이 가능하도록 설정 */
  z-index: 1001;

  box-shadow: 0 4px 4px rgba(104, 104, 104, 0.2);  /* 그림자 효과 */

  /* 모달 내용은 여전히 클릭 가능 */
  pointer-events: all;
}
.MCBtn {
  position: relative;
  width:20px;
  height: 20px;
}
.modal-close {
  background-image: url(../../img/xbuttonHover.png);
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
  border: none;
  cursor: pointer;
}
  