/* GuestbookPage.css */
.guestbook-container {
  position:absolute;
  top: 150px; left:250px;
  width: 600px;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border: 8px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.guestbook-list {
margin-bottom: 20px;
}

.sort-options {
display: flex;
justify-content: flex-end;
font-size: 14px;
cursor: pointer;
}

.sort-options span {
margin: 0 5px;
color: #684cce;
}

.sort-options span:hover {
text-decoration: underline;
}

.guestbook-entry {
padding: 10px;
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
}

.entry-header {
display: flex;
justify-content: space-between;
font-size: 14px;
color: #555;
}

.username {
font-weight: bold;
}

.message {
margin-top: 5px;
font-size: 16px;
}

.guestbook-input {
display: flex;
flex-direction: column;
margin-top: 20px;
}

textarea {
resize: none;
height: 60px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
padding: 10px;
}

.guestsubmit {
padding: 10px 15px;
border: none;
border-radius: 5px;
background-color: #7a63ff;
color: white;
cursor: pointer;
}

.guestsubmit:hover {
background-color: #684cce;
}
