 /* GuestbookPage.css */
 .guestbook-container { /*방명록 컨테이너 스타일*/
  position:absolute; /*절대 위치 지정 */
  width: 750px; /*너비*/
  height: 500px; /*높이*/
  overflow-y: overlay; /*세로 스크롤을 오버레이 방식으로*/
  top: 160px; left:200px; /*상단 및 좌측으로부터의 위치*/
  margin: 20px; /*외부 여백*/
  padding:60px 20px 20px 20px; /*내부 여백 (위쪽은 60px)*/
  border-radius:16px; /*모서리를 둥글게*/
  background-color: #ffffff; /*배경색 흰색*/
}
.guestbook-container::-webkit-scrollbar-button {
  display:none; /* 스크롤바의 버튼을 숨김 */
}
.guestbook-container::-webkit-scrollbar {
  width: 14px; 
}
.guestbook-container::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 4px solid transparent;
  box-shadow: inset 6px 6px 0 #d6cfff;
}

.guestbook-title-box {
  display:flex;
  position:absolute;
  top:180px; left:220px; 
  width:750px;
  height: 50px;
  border-radius: 16px 16px 0px 0px ;
  background-color: #ffffffc7;
  padding:20px;
  z-index: 1;
}

.guestbook-title { 
  font-family: "Noto Sans KR", sans-serif;
  font-size:13pt;
  font-weight: 600;
  color:rgb(63, 63, 63);
}

.guestbook-list { /*방명록 배경 크기*/
margin-bottom: 20px;
}

.sort-options {
display: flex;
justify-content: flex-end;
font-size: 14px;
cursor: pointer;
}

.sort-options span {
margin: 0 5px;
color: #684cce;
}

.sort-options span:hover {
text-decoration: underline;
}

.guestbook-entry {
padding: 10px;
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
}

.entry-header {  /*유저이름1*/
display: flex;
justify-content: space-between;
font-size: 14px;
color: #555;
}

.username {
font-weight: bold;
}

.message { /*메세지 공간*/
margin-top: 5px;
font-size: 16px;
}

.guestbook-input { /*방명록 및 공간*/
display: flex;
flex-direction: column;
margin-top: 20px;
}

textarea {  /*내용을 입력해주세요*/
resize: none;
height: 60px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
padding: 10px;
}

.guestsubmit { /*완료*/
  position: relative;
  left: 620px; top:-50px;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  background-color: #7a63ff;
  color: white;
  cursor: pointer;
  }
  

.guestsubmit:hover {
background-color: #684cce;
}



.menu-item:hover {
  background-color: #ddd;
}
