/* MyCalendar.css */
.calendar-container {
    width: 100%; /* 달력 컨테이너가 부모 요소의 전체 너비를 차지하도록 설정 */
}

.fc .fc-daygrid-day-number {
    padding: 0; /* 날짜 셀 내부의 패딩 제거 */
}

.fc-event-title {
    white-space: nowrap; /* 제목이 한 줄로 유지되도록 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘치는 내용에 '...' 표시 */
    font-size: 0.8em; /* 폰트 크기 조정 */
    line-height: 1.2; /* 줄 높이 조정 */
    padding: 0 2px; /* 제목 주위에 적절한 패딩 추가 */
}
/* MyCalendar.css */
.fc .fc-daygrid-day-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.fc .fc-daygrid-day-event {
    white-space: nowrap; /* 제목이 한 줄로 유지되도록 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis; /* 넘치는 내용에 '...' 표시 */
    width: 100%; /* 너비를 셀에 맞추기 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 너비 계산 */
}
