/* MyCalendar.css */

/* 제목 스타일 */
.diary-title {
    position:relative;
    top:130px;
    left:300px;
    font-family: "Noto Sans KR", sans-serif;
    font-size:15pt;
    font-weight: bold;
    color:rgb(63, 63, 63);
}

/* 달력 배경 */
.calendar-back {
    position:absolute;
    width: 600px;
    height: 500px;
    top: 180px;
    left: 300px;
}

/* 달력 컨테이너 */
.calendar-container {
    text-align: left;
    align-items: left;
}

/* 날짜 셀의 패딩 제거 */
.fc .fc-daygrid-day-number {
    padding: 0;
    text-decoration: none; /* 밑줄 제거 */
    color: black;
}
.event-content{
    color:rgb(83, 83, 83)
}

/* 이벤트 목록 스타일 */
.fc .fc-daygrid-day-events {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

/* 요일 스타일링 (일요일: 빨간색, 토요일: 파란색, 나머지 요일: 검정색) */
.fc .fc-col-header-cell-cushion {
    color: black; /* 기본 요일 색상 검정 */
    text-decoration: none; /* 요일 밑줄 제거 */
}

/* 일요일 스타일 (빨간색) */
.fc .fc-col-header-cell:nth-child(1) .fc-col-header-cell-cushion {
    color: red;
}

/* 토요일 스타일 (파란색) */
.fc .fc-col-header-cell:nth-child(7) .fc-col-header-cell-cushion {
    color: blue;
}
