
div {
  font-family: "Noto Sans KR", sans-serif; /* 폰트 패밀리 설정 */
  font-size: 10pt; /* 글자 크기 */
  font-weight: 400; /* 글자 굵기 */
}

.friends-section-list {
  position: absolute;
  left: 0px; /* 페이지 왼쪽에 고정 위치 */
  background-color: #ffffff; /* 흰색 배경 */
  width: 200px; /* 너비 */
  max-height: 300px; /* 높이 */
  border-radius: 16px; /* 모서리를 둥글게 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}


.friends-section-list h3 {
  font-family: "Noto Sans KR", sans-serif; /* 폰트 패밀리 설정 */
  font-size: 10pt; /* 글자 크기 */
  font-weight: 600; /* 글자 굵기 */
  color: rgb(80, 80, 80); /* 글자 색상 */
  margin: 25px 10px 0px 10px; /* 상단, 좌우, 하단 여백 */
  padding-bottom: 10px;
}

.friends-section-list .f-list {
  cursor: pointer;
}

.friends-section-list ul {
  margin-left: 5px;
}

.friends-section-list p {
  margin: 10px;
}

.friends-section-list span {
  margin-right: 10px;
}

.friends-section-list button {
  margin-left: 5px;
  background-color: #b4afaf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.friends-section-list button:hover {
  background-color: #aaa5a5;
}
