/* src/components/FriendsSection.css */
/* 
  .friends-section ul {
    list-style: none;
    padding: 0;
  }
  
  .friends-section li {
    font-family: "Noto Sans KR", sans-serif;
    font-size:8pt;
    font-weight: 500;
    color:rgb(112, 112, 112); 
    margin: 10px 10px 10px 10px;
  }
  
  .request-button {
    position: absolute;
    top:210px;
    left:50px;
    font-family: "Noto Sans KR", sans-serif;
    font-size:7pt;
    font-weight:500;
    text-align: right;
    color:rgb(122, 122, 122);
    border: none; background-color: transparent;
  }
   */

   .friends-section {
    position: absolute;
    left: -40px;
    background-color: #ffffff;
    width: 105px;
    height: 245px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .friends-section h3 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color:rgb(80, 80, 80);
    margin:25px 10px 0px 10px;
  }

  .button-container {
    position: relative;
    top:20px; left:2px;
    width: 100px; height: 150px;
    display: flex;
    flex-direction: column; /* 수직으로 배치*/
    align-items: center;
    gap: 20px;
  }
  
  .request-button {
    background-color: #c5c9ff;
    color: white;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 12px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10pt;
  }
  
  .request-button:hover {
    color:rgb(63, 63, 63);
    cursor: pointer;
  } 
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  