/* src/components/HeaderSection.css */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
.header-section {
    position: absolute;
    top:70px;
    left: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-family: "Squada One", sans-serif;
    font-weight: 400;
    line-height: 5px;
  }
  
  .header-visit {
    font-size: 14pt; 
  }

  .total {
    font-size: 14px;
    color: #333;
  }
  
  .greeting {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  