/* src/components/Sidebar.css */
.sidebar {
  position:absolute;
  top: 185px;
  left:115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  z-index: 1000;
}

.myHomebutton-container {
position: relative;
display: inline-block;
}
.icon {
  width: 65px;
  height: 65px;
  border-style: solid;
  border-width: 3px;
  border-color: #7982ff ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-myhome{
background:url(../../img/myhomeIcon.png) no-repeat;
background-size: 100px;
background-position-x: center;
background-position-y: center;
width: 40px;
height: 40px;
border: none;
}
.myHometooltip {
  position:absolute;
  left:50px;
  font-family: "Noto Sans KR", sans-serif;
  font-size:9pt;
  font-weight: 600;
  white-space: nowrap;
  visibility: hidden;
  transform: translateX(-50%);
  background-color: #ffffffa1;
  color: #555555;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
}
.myHomebutton-container:hover.myHometooltip {
visibility: visible;
opacity: 1;
}

.icon.home {
background:url(../../img/home.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.home:hover, .icon.home.active {
background:url(../../img/homeOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}

.icon.diary {
background:url(../../img/diary.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.diary:hover, .icon.diary.active {
background:url(../../img/diaryOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}

.icon.board {
background:url(../../img/board.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.board:hover, .icon.board.active {
background:url(../../img/boardOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}

.icon.visit {
background:url(../../img/guestbook.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.visit:hover, .icon.visit.active {
background:url(../../img/guestbookOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}

.icon.walk {
background:url(../../img/walk.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.walk:hover, .icon.walk.active {
background:url(../../img/walkOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}

.icon.food {
background:url(../../img/restaurant.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: rgb(255, 255, 255);
}
.icon.food:hover, .icon.food.active {
background:url(../../img/restaurantOnclick.png) no-repeat;
background-size: 50px;
background-position-x: center;
background-position-y: center;
background-color: #7982ff;
}