.homgepage-Co-input {
    position:relative;
    left:575px;
    top:-5px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    width: 200px;
}

.homgepage-Co {
    position:relative;
    left:225px;
    top:-40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15pt;  /*폰트 크기 변경*/
    font-weight: bold;
}
.homgepage-Co-edit {
    position:relative;
    left:445px;
    top:-35px;
    font-family: "Noto Sans KR", sans-serif;
    font-size:8pt;
    font-weight:500;
    color:rgb(122, 122, 122);
    border: none; 
    background-color: transparent;
}

.homgepage-Co-edit:hover {
    color:rgb(182, 182, 182);
    cursor: pointer;
}