.Top-co-input.editing {
    position:absolute;
    width: 400px;
    left:432px;
    top:-47px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color:rgb(141, 141, 141);
    border: none;
    background-color: rgb(245, 245, 245);
    outline: none;
}

.homgepage-Co {
    position:absolute;
    width: 400px;
    left:440px;
    top:-30px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14pt;  /*폰트 크기 변경*/
    font-weight: bold;
    color:rgb(66, 66, 66)
}
.homgepage-Co-edit {
    position:absolute;
    width: 50px;
    left:845px;
    top:-26px;
    font-family: "Noto Sans KR", sans-serif;
    font-size:9pt;
    font-weight:500;
    color:rgb(122, 122, 122);
    border: none; 
    background-color: transparent;
}

.homgepage-Co-edit:hover {
    color:rgb(182, 182, 182);
    cursor: pointer;
}