/* 게시판 slick 디자인 설정해주는 문구 */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.app {
  position: relative;
  display: flex;
  width: 1280px;
  height: 800px;
  background-color: #e0f7f7; /* 배경색 설정 */
}

.sidebar {
  position: relative;
  flex:1;
  
}

.main-content {
  position:relative;
  top:185px;
  flex: 3;
  display: flex;
  left:50px;
}

.left-content {
  position: absolute;
}
.right-side {
  position:absolute;
  top:185px; /* 전체 배경 기준*/
  left:1060px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

