/* src/components/FriendsSection.css */
.friends-section {
  position:relative;
  top:435px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #666; /* 테두리 추가 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.friends-section ul {
  list-style: none;
  padding: 0;
}

.friends-section li {
  margin-bottom: 10px;
}

.request-button {
  margin-top: 10px;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-button:hover {
  background-color: #a0c4ff;
  border-radius: 20%; /* 이미지 원형으로 */
}
