/* src/components/VisitSection.css */
.visit-section {
  position:absolute;
  top:185px;
  width: 150px; /* 프로필 이미지의 너비 조정 */
  height: 200px; /* 방문 섹션 높이 조정 */
  background-color: #fff;
  border: 2px solid #666; /* 테두리 추가 */
  border-radius: 30px;
  padding: 15px;
  margin-top: 20px;
  margin: 1px;
}

.visit-section h3 { /* 방명록 */
  font-size: 18px;
  margin-bottom: 10px;
}

.visit-section ul { /* 안녕하세요~ */
  list-style: none;
  padding: 0;
  font-size: 14px;
  color: #666; 
}

.visit-section li { 
  margin-bottom: 5px;
}

.visit-section button {
  background-color: white;
  color: #a3a3a3;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.visit-section button:hover {
  background-color: #a0c4ff;
  border-radius: 20%; /* 이미지 원형으로 */
}
