.btns {
  display: flex;
  position: fixed;  /* 고정 안되는 이유? */
  right: .4rem;
  bottom: .4rem;
}

.btns > div {
  padding: .6rem 1.5rem;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  color: #fff;
  margin-right: .4rem;
}

.moveTopBtn:hover {
  color: #000;
  background: #febf00;
}

/* ------ */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard;
  user-select: none;
}

.list > div {
  margin-bottom: 1rem;
  margin-left: .4rem;
  font-size: 1.4rem;
  color: #333;
}

@media (max-width: 768px) {
  .list > div {
    font-size: 1.2rem;
  }
}

/* Inbox.css */

.inbox-container {
padding: 20px;
background-color: #ffffff;
border-radius: 10px;
max-width: 600px;
margin: 0 auto;
box-shadow: 0 4px 4px rgba(145, 145, 145, 0.1);
}

.inbox-header {
font-size: 11pt;
text-align: center;
margin-bottom: 12px;
color: #333;
}

.message-item {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 5px;
padding: 4px 12px;
margin-bottom: 0px;
transition: background-color 0.2s;
cursor: pointer;
font-size: 9pt;
}

.message-item:hover {
background-color:#c5c9ff;
}

.message-item.unread {
font-size: 9pt;
font-weight: 300;
background-color: #e7f3ff;
}

.message-sender {
font-size: 10pt;
font-weight: 600;
color: #7982ff;
}

.message-status {
font-size: 9pt;
color: #999;
text-align: right;
}

.message-delete-btn {
color: #ff5c5c;
background-color: transparent;
font-weight: 600;
border: none;
border-radius: 5px;
padding: 4px 7px;

margin:0px 4px 0px 4px;
cursor: pointer;
transition: background-color 0.2s;
}

.message-delete-btn:hover {
background-color: #ff2b2b;
font-weight: 400;
color:#fff;
}
